:root {
    --color-primary: var(--md-sys-color-primary-light);
    --color-on-primary: var(--md-sys-color-on-primary-light);
    --color-primary-container: var(--md-sys-color-primary-container-light);
    --color-on-primary-container: var(--md-sys-color-on-primary-container-light);
    --color-secondary: var(--md-sys-color-secondary-light);
    --color-on-secondary: var(--md-sys-color-on-secondary-light);
    --color-secondary-container: var(--md-sys-color-secondary-container-light);
    --color-on-secondary-container: var(--md-sys-color-on-secondary-container-light);
    --color-error: var(--md-sys-color-error-light);
    --color-error-container: var(--md-sys-color-error-container-light);
    --color-on-error: var(--md-sys-color-on-error-light);
    --color-on-error-container: var(--md-sys-color-on-error-container-light);
    --color-background: var(--md-sys-color-background-light);
    --color-on-background: var(--md-sys-color-on-background-light);
    --color-surface: var(--md-sys-color-surface-light);
    --color-on-surface: var(--md-sys-color-on-surface-light);
    --color-outline: var(--md-sys-color-outline-light);
    --color-outline-variant: var(--md-sys-color-outline-variant-light);
}
