:root {

/* light */
--md-sys-color-primary-light: #7b4998;
--md-sys-color-on-primary-light: #ffffff;
--md-sys-color-primary-container-light: #f5d9ff;
--md-sys-color-on-primary-container-light: #30004a;
--md-sys-color-secondary-light: #68596e;
--md-sys-color-on-secondary-light: #ffffff;
--md-sys-color-secondary-container-light: #f0dcf5;
--md-sys-color-on-secondary-container-light: #221728;
--md-sys-color-tertiary-light: #815253;
--md-sys-color-on-tertiary-light: #ffffff;
--md-sys-color-tertiary-container-light: #ffdad9;
--md-sys-color-on-tertiary-container-light: #331113;
--md-sys-color-error-light: #ba1a1a;
--md-sys-color-error-container-light: #ffdad6;
--md-sys-color-on-error-light: #ffffff;
--md-sys-color-on-error-container-light: #410002;
--md-sys-color-background-light: #fffbff;
--md-sys-color-on-background-light: #1d1b1e;
--md-sys-color-surface-light: #fffbff;
--md-sys-color-on-surface-light: #1d1b1e;
--md-sys-color-surface-variant-light: #eadfea;
--md-sys-color-on-surface-variant-light: #4b444d;
--md-sys-color-outline-light: #7d747e;
--md-sys-color-outline-variant-light: #c9c5ca;
--md-sys-color-inverse-on-surface-light: #f6eff3;
--md-sys-color-inverse-surface-light: #332f33;
--md-sys-color-inverse-primary-light: #e6b4ff;
--md-sys-color-shadow-light: #000000;
--md-sys-color-surface-tint-light: #7b4998;
--md-sys-color-surface-tint-color-light: #7b4998;

/* dark */
--md-sys-color-primary-dark: #e6b4ff;
--md-sys-color-on-primary-dark: #491765;
--md-sys-color-primary-container-dark: #61317e;
--md-sys-color-on-primary-container-dark: #f5d9ff;
--md-sys-color-secondary-dark: #d3c0d8;
--md-sys-color-on-secondary-dark: #382c3e;
--md-sys-color-secondary-container-dark: #4f4255;
--md-sys-color-on-secondary-container-dark: #f0dcf5;
--md-sys-color-tertiary-dark: #f4b7b8;
--md-sys-color-on-tertiary-dark: #4c2526;
--md-sys-color-tertiary-container-dark: #663b3c;
--md-sys-color-on-tertiary-container-dark: #ffdad9;
--md-sys-color-error-dark: #ffb4ab;
--md-sys-color-error-container-dark: #93000a;
--md-sys-color-on-error-dark: #690005;
--md-sys-color-on-error-container-dark: #ffdad6;
--md-sys-color-background-dark: #1d1b1e;
--md-sys-color-on-background-dark: #e8e0e5;
--md-sys-color-surface-dark: #1d1b1e;
--md-sys-color-on-surface-dark: #e8e0e5;
--md-sys-color-surface-variant-dark: #4b444d;
--md-sys-color-on-surface-variant-dark: #cec3ce;
--md-sys-color-outline-dark: #978e98;
--md-sys-color-outline-variant-dark: #484649;
--md-sys-color-inverse-on-surface-dark: #1d1b1e;
--md-sys-color-inverse-surface-dark: #e8e0e5;
--md-sys-color-inverse-primary-dark: #7b4998;
--md-sys-color-shadow-dark: #000000;
--md-sys-color-surface-tint-dark: #e6b4ff;
--md-sys-color-surface-tint-color-dark: #e6b4ff;
}